<div class="container row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
         <a href="#"><img src="/assets/오미팅.PNG" width="100" /></a>
    </div>
    <div class="col-md-6">
        <a href="/users/sign_out"> 로그아웃 </a>
        <%= current_user.sex %> / <%= current_user.age %> / <%= current_user.univ %> / <%= current_user.region %>
        <img src="/assets/설정화면.PNG" / >
    </div>
</div>