<%= render :partial => "five/pencil" %>

<div class="container row">
    <div class="col-md-4"></div>
    <br><br><br><br><br>
    <h1>채팅창을 가져올게요.</h1>
    
    <form action="/five/pal" method="POST">
        <input class="btn btn-default" type="submit" value="상대방 승락하기"> <br> <br>
    </form>
    
    <div clas="col-md-4">
    </div>
</div>