<%= render :partial => "five/pencil" %>

<div class="container row">
    <div class="col-md-4"></div>
        
        <br><br><br><br><br>
        <h1 > <%=@result2.email %> 님과 매칭되엇습니다.</h1>
        <a href="https://chat-basic-litejun1.c9.io"> 채팅방 들어가기 </a>
        
        
    <div class="col-md-4">
    </div>
</div>
