<body style = "text-align:center;">
<p style ="color: #898989;">비밀번호를 <strong>삭제</strong>해볼까요</p>

    <h1 style=" margin-top:100px">비밀번호를 입력하세요</h1>
    <form method="POST"><br>
        <input type="password" name="passwd_check">&nbsp
        <input class="btn btn-default" type="submit" value=" 삭 제 "><br>
    </form><br>
    <a href="/five/write" style="text-decoration:none">돌아가기</a>
</body>