<%= render :partial => "five/pencil" %>

<h1>후기를 적어주세요</h1> <br>
<div style="text-align:center;">    
    <form action="" method="POST">
    대학교 :<input type="text" name="univ"><br>
    상대 대학교 :<input type="text" name="univ_other"><br>
    비밀번호(글 수정시 필요) :<input type="password" name="passwd"><br>
    <textarea rows="4" cols="50" name="content"> </textarea><br>
    <input type="submit" value="작성하기♥">
</form>
</div>