<div class="container-fluid" style="background-color: #233140; height:100vh; color:#fff;" >
        <div class="row">
            <div class="col-lg-12">
                <h1>Copyright Β© 2014 - μ¤λ―Έν…</h1>
            </div>
        </div>
    </div>
</div>