
<%= render :partial => "five/pencil" %>
<br><br><br><br><br><br>
<a href="/five/yuk"><img src="/assets/univ.PNG" width="200" height="200"></a>
&nbsp &nbsp &nbsp
<a href="#"><img src="/assets/region.PNG" width="200" height="200"></a>

