<%= render :partial => "five/pencil" %>


<h1>즐거운 채팅하셨나요? </h1>
<h2>약속을 정하셨으므로 상대방 전화번호를 드립니다!</h2> <br><br>


<div class="container-fluid row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">진세준</h3>
        </div>
        <div class="panel-body">
          01041781234
        </div>
      </div>
    </div>
  <div class="col-md-4"></div>
</div>



<h1> 즐거운 미팅 후 후기를 적어주세요 </h1>

    <form action="/five/goo" method="POST">
        <input class="btn btn-primary" type="submit" value="후기 적으러가기"> <br> <br>
    </form>