<%= render :partial => "five/pencil" %>


<h1> 상대방 전화번호를 띄우주세요</h1> <br><br>


<div class="container-fluid row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">진세준</h3>
        </div>
        <div class="panel-body">
          01041781234
        </div>
      </div>
    </div>
  <div class="col-md-4"></div>
</div>



<h1> 미팅을 즐기신 후 후기를 적어주세요 </h1>

    <form action="/five/goo" method="POST">
        <input class="btn btn-default" type="submit" value="후기 적으러가기"> <br> <br>
    </form>