<div class="list_table" style="border-top:2px solid #5b7ce5">
<input type="hidden" name="id" id="id" value="car_new">
                        <!-- ad_floating 130805 수정 -->
                        <div id="ad_floating" class="ad_floating">
                            <div class="ad_floating_wrap">

<script language="javascript" src="http://addc.dcinside.com/NetInsight/text/dcinside/gallery/icon@traffic" type="text/javascript"></script>
							</div>
						</div>
<table width="100%">
	<!-- 130503 추천수 추가  -->
	<colgroup>
		<col width="7%">
		<col width="">
		<col width="14%">
		<col width="7%">
				<col width="6%">
		<col width="3%">
			</colgroup>
	<thead class="list_thead">
		<tr>
			<th><img src="http://nstatic.dcinside.com/dgn/gallery/images/title_no.gif" alt="번호"></th>
			<th><img src="http://nstatic.dcinside.com/dgn/gallery/images/title_subject.gif" alt="제목"></th>
			<th><img src="http://nstatic.dcinside.com/dgn/gallery/images/title_writer.gif" alt="글쓴이"></th>
			<th><img src="http://nstatic.dcinside.com/dgn/gallery/images/title_date.gif" alt="날짜"></th>
						<th><img src="http://nstatic.dcinside.com/dgn/gallery/images/title_hit.gif" alt="조회수"></th>
			<th><img src="http://nstatic.dcinside.com/dgn/gallery/images/title_recommend.gif" alt="추천수"></th>
					</tr>


								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">공지</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=1&amp;page=1" class="icon_notice"><b>자동차와 관련된 사진과 내용이 있어야 합니다.</b></a><a href="/board/comment_view/?id=car_new&amp;no=1&amp;page=1"><em>[247]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="운영자" style="cursor:pointer;"><b><b>운영자</b></b></td>
									<td class="t_date" title="2004.12.30 14:04:10">2004.12.30</td>
																		<td class="t_hits">92188</td>
                                    <td class="t_hits">7</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712778</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712778&amp;page=1" class="icon_txt_n">스베누 사장 아벤타도르 매물나왔네 ㅎㅎ</a></td>
									<td class="t_writer user_layer" user_id="" user_name="qq" style="cursor:pointer;"><span title="qq">qq</span></td>
									<td class="t_date" title="2015.08.27 22:29:42">2015.08.27</td>
																		<td class="t_hits">24</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712777</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712777&amp;page=1" class="icon_pic_n">오늘 700키로 드라이브 후기.jpg</a><a href="/board/comment_view/?id=car_new&amp;no=2712777&amp;page=1"><em>[4]</em></a></td>
									<td class="t_writer user_layer" user_id="lipton339" user_name="투어리즘" style="cursor:pointer;"><span title="투어리즘">투어리즘</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="lipton3**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/lipton339');"></span></td>
									<td class="t_date" title="2015.08.27 22:10:07">2015.08.27</td>
																		<td class="t_hits">62</td>
                                    <td class="t_hits">3</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712776</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712776&amp;page=1" class="icon_pic_n">ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ네이버 카페 개웃기네</a></td>
									<td class="t_writer user_layer" user_id="hublee1" user_name="야한세" style="cursor:pointer;"><span title="야한세">야한세</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="huble**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/hublee1');"></span></td>
									<td class="t_date" title="2015.08.27 22:08:18">2015.08.27</td>
																		<td class="t_hits">26</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712775</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712775&amp;page=1" class="icon_txt_n">.사다리분석기 홀짝,출줄 무료로 지급.배포 해드립니다^^ 3e</a></td>
									<td class="t_writer user_layer" user_id="" user_name="야재환" style="cursor:pointer;"><span title="야재환">야재환</span></td>
									<td class="t_date" title="2015.08.27 21:59:46">2015.08.27</td>
																		<td class="t_hits">12</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712774</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712774&amp;page=1" class="icon_txt_n">.안전한놀이터.꺄툑.문의.U U 5 8 8 2.女 픽스텨 2d</a></td>
									<td class="t_writer user_layer" user_id="" user_name="수종환" style="cursor:pointer;"><span title="수종환">수종환</span></td>
									<td class="t_date" title="2015.08.27 21:59:16">2015.08.27</td>
																		<td class="t_hits">8</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712773</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712773&amp;page=1" class="icon_txt_n">창렬 1.6 쏘나타 요즘 평가 어떠냐</a></td>
									<td class="t_writer user_layer" user_id="" user_name="ㅇㅇㅇ" style="cursor:pointer;"><span title="ㅇㅇㅇ">ㅇㅇㅇ</span></td>
									<td class="t_date" title="2015.08.27 21:55:09">2015.08.27</td>
																		<td class="t_hits">13</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712772</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712772&amp;page=1" class="icon_pic_n">94년식 스포티지 연비계산의 착오</a><a href="/board/comment_view/?id=car_new&amp;no=2712772&amp;page=1"><em>[2]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="1994스포" style="cursor:pointer;"><span title="1994스포">1994스포</span></td>
									<td class="t_date" title="2015.08.27 21:51:24">2015.08.27</td>
																		<td class="t_hits">42</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712771</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712771&amp;page=1" class="icon_pic_n">아빠와 아들.jpg</a><a href="/board/comment_view/?id=car_new&amp;no=2712771&amp;page=1"><em>[2]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="ㅇㅇ" style="cursor:pointer;"><span title="ㅇㅇ">ㅇㅇ</span></td>
									<td class="t_date" title="2015.08.27 21:34:01">2015.08.27</td>
																		<td class="t_hits">74</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712770</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712770&amp;page=1" class="icon_txt_n">개 시발 1종 도로주행 2번떨어짐 벌써</a><a href="/board/comment_view/?id=car_new&amp;no=2712770&amp;page=1"><em>[1]</em></a></td>
									<td class="t_writer user_layer" user_id="qjatjrwkd94" user_name="아카시아꽃이화" style="cursor:pointer;"><span title="아카시아꽃이화">아카시아꽃이화</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="qjatjrwkd**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/qjatjrwkd94');"></span></td>
									<td class="t_date" title="2015.08.27 21:16:44">2015.08.27</td>
																		<td class="t_hits">23</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712768</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712768&amp;page=1" class="icon_pic_n">그나물에 그밥이지 무슨 시밬ㅋㅋㅋ</a><a href="/board/comment_view/?id=car_new&amp;no=2712768&amp;page=1"><em>[1]</em></a></td>
									<td class="t_writer user_layer" user_id="monacogp" user_name="GulfsTrEam" style="cursor:pointer;"><span title="GulfsTrEam">GulfsTr.</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_default.gif" border="0" title="monaco** : 갤로그로 이동합니다." width="11" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/monacogp');"></span></td>
									<td class="t_date" title="2015.08.27 20:50:59">2015.08.27</td>
																		<td class="t_hits">58</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712767</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712767&amp;page=1" class="icon_pic_n">뭔가 디젤차에 대한 로망이 있는데 뭐를 하는게 좋음??</a><a href="/board/comment_view/?id=car_new&amp;no=2712767&amp;page=1"><em>[2]</em></a></td>
									<td class="t_writer user_layer" user_id="nidho99" user_name="군단숙주" style="cursor:pointer;"><span title="군단숙주">군단숙주</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="nidho**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/nidho99');"></span></td>
									<td class="t_date" title="2015.08.27 20:50:27">2015.08.27</td>
																		<td class="t_hits">71</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712766</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712766&amp;page=1" class="icon_txt_n">월급여는 100정도인데 중형 유지가능?</a><a href="/board/comment_view/?id=car_new&amp;no=2712766&amp;page=1"><em>[3]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="ㅇㅇ" style="cursor:pointer;"><span title="ㅇㅇ">ㅇㅇ</span></td>
									<td class="t_date" title="2015.08.27 20:35:59">2015.08.27</td>
																		<td class="t_hits">48</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712764</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712764&amp;page=1" class="icon_txt_n">블랙박스 아톰fh7600 샀는데 주차모드로 켜두면 되려나</a></td>
									<td class="t_writer user_layer" user_id="" user_name="ㅇㅇ" style="cursor:pointer;"><span title="ㅇㅇ">ㅇㅇ</span></td>
									<td class="t_date" title="2015.08.27 20:34:49">2015.08.27</td>
																		<td class="t_hits">16</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712757</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712757&amp;page=1" class="icon_pic_n">사양표 받았는데 tmps drl vsm 측면 에어백 무릎에어백 있다...</a><a href="/board/comment_view/?id=car_new&amp;no=2712757&amp;page=1"><em>[1]</em></a></td>
									<td class="t_writer user_layer" user_id="ham3802" user_name="본방사수하라" style="cursor:pointer;"><span title="본방사수하라">본방사수하라</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="ham38**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/ham3802');"></span></td>
									<td class="t_date" title="2015.08.27 19:06:49">2015.08.27</td>
																		<td class="t_hits">60</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712754</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712754&amp;page=1" class="icon_pic_n">아방이AD나오면 크루즈 완전 바르겠다</a><a href="/board/comment_view/?id=car_new&amp;no=2712754&amp;page=1"><em>[2]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="닉네임" style="cursor:pointer;"><span title="닉네임">닉네임</span></td>
									<td class="t_date" title="2015.08.27 18:47:27">2015.08.27</td>
																		<td class="t_hits">139</td>
                                    <td class="t_hits">4</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712753</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712753&amp;page=1" class="icon_txt_n">2000~2500선에서 신차 추천좀</a><a href="/board/comment_view/?id=car_new&amp;no=2712753&amp;page=1"><em>[1]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="oo" style="cursor:pointer;"><span title="oo">oo</span></td>
									<td class="t_date" title="2015.08.27 18:36:56">2015.08.27</td>
																		<td class="t_hits">48</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712752</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712752&amp;page=1" class="icon_pic_n">씨발 이건 무조건 4야햌ㅋㅋㅋㅋ씨발ㅋㅋㅋㅋㅋ</a><a href="/board/comment_view/?id=car_new&amp;no=2712752&amp;page=1"><em>[7]</em></a></td>
									<td class="t_writer user_layer" user_id="ham3802" user_name="본방사수하라" style="cursor:pointer;"><span title="본방사수하라">본방사수하라</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="ham38**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/ham3802');"></span></td>
									<td class="t_date" title="2015.08.27 18:32:16">2015.08.27</td>
																		<td class="t_hits">154</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712750</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712750&amp;page=1" class="icon_movie">홍대 근처 젠틀몬스터 가면 잼있는 4륜 자동차 레이싱 게임 할 수 있어요</a><a href="/board/comment_view/?id=car_new&amp;no=2712750&amp;page=1"><em>[2]</em></a></td>
									<td class="t_writer user_layer" user_id="finekk" user_name="무슨무슨무슨" style="cursor:pointer;"><span title="무슨무슨무슨">무슨무슨무슨</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_default.gif" border="0" title="fine** : 갤로그로 이동합니다." width="11" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/finekk');"></span></td>
									<td class="t_date" title="2015.08.27 18:21:00">2015.08.27</td>
																		<td class="t_hits">59</td>
                                    <td class="t_hits">1</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712749</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712749&amp;page=1" class="icon_pic_n">크루즈는 나온지가 언젠데</a><a href="/board/comment_view/?id=car_new&amp;no=2712749&amp;page=1"><em>[1]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="닉네임" style="cursor:pointer;"><span title="닉네임">닉네임</span></td>
									<td class="t_date" title="2015.08.27 18:20:14">2015.08.27</td>
																		<td class="t_hits">73</td>
                                    <td class="t_hits">1</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712748</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712748&amp;page=1" class="icon_pic_n">양카의 끝판왕은 배기구 뚫는거 아니냐?ㅋㅋㅋ 트렁크에 날개달면 죽여줌</a></td>
									<td class="t_writer user_layer" user_id="ham3802" user_name="본방사수하라" style="cursor:pointer;"><span title="본방사수하라">본방사수하라</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="ham38**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/ham3802');"></span></td>
									<td class="t_date" title="2015.08.27 18:06:00">2015.08.27</td>
																		<td class="t_hits">71</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712746</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712746&amp;page=1" class="icon_pic_n">한달에 1000km이하 타면 휘발유가 낫냐??</a><a href="/board/comment_view/?id=car_new&amp;no=2712746&amp;page=1"><em>[4]</em></a></td>
									<td class="t_writer user_layer" user_id="nidho99" user_name="군단숙주" style="cursor:pointer;"><span title="군단숙주">군단숙주</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="nidho**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/nidho99');"></span></td>
									<td class="t_date" title="2015.08.27 17:22:00">2015.08.27</td>
																		<td class="t_hits">101</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712745</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712745&amp;page=1" class="icon_pic_n">야 이거 GT3 운전하게 개 힘들다</a><a href="/board/comment_view/?id=car_new&amp;no=2712745&amp;page=1"><em>[8]</em></a></td>
									<td class="t_writer user_layer" user_id="aodtp2" user_name="외기러기" style="cursor:pointer;"><span title="외기러기">외기러기</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_default.gif" border="0" title="aodt** : 갤로그로 이동합니다." width="11" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/aodtp2');"></span></td>
									<td class="t_date" title="2015.08.27 17:18:35">2015.08.27</td>
																		<td class="t_hits">142</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712743</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712743&amp;page=1" class="icon_pic_n">케삼쿱 개이쁘다</a><a href="/board/comment_view/?id=car_new&amp;no=2712743&amp;page=1"><em>[2]</em></a></td>
									<td class="t_writer user_layer" user_id="stor2004" user_name="박ㅋ봄ㅋ" style="cursor:pointer;"><span title="박ㅋ봄ㅋ">박ㅋ봄ㅋ</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="stor20**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/stor2004');"></span></td>
									<td class="t_date" title="2015.08.27 16:09:44">2015.08.27</td>
																		<td class="t_hits">117</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712741</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712741&amp;page=1" class="icon_txt_n">k5 1.7 디젤 어떠냐?</a><a href="/board/comment_view/?id=car_new&amp;no=2712741&amp;page=1"><em>[1]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="내마음이들려" style="cursor:pointer;"><span title="내마음이들려">내마음이들려</span></td>
									<td class="t_date" title="2015.08.27 15:34:50">2015.08.27</td>
																		<td class="t_hits">85</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712740</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712740&amp;page=1" class="icon_pic_n">오늘도 쉐뽕 한사발</a><a href="/board/comment_view/?id=car_new&amp;no=2712740&amp;page=1"><em>[1]</em></a></td>
									<td class="t_writer user_layer" user_id="stor2004" user_name="박ㅋ봄ㅋ" style="cursor:pointer;"><span title="박ㅋ봄ㅋ">박ㅋ봄ㅋ</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="stor20**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/stor2004');"></span></td>
									<td class="t_date" title="2015.08.27 15:34:03">2015.08.27</td>
																		<td class="t_hits">94</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712736</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712736&amp;page=1" class="icon_pic_n">노형이없으니</a><a href="/board/comment_view/?id=car_new&amp;no=2712736&amp;page=1"><em>[1]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="랄프" style="cursor:pointer;"><span title="랄프">랄프</span></td>
									<td class="t_date" title="2015.08.27 13:57:17">2015.08.27</td>
																		<td class="t_hits">104</td>
                                    <td class="t_hits">1</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712735</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712735&amp;page=1" class="icon_pic_n">니들 옆 모습 보고도 딸치냐??</a><a href="/board/comment_view/?id=car_new&amp;no=2712735&amp;page=1"><em>[2]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="ㅇㅇ" style="cursor:pointer;"><span title="ㅇㅇ">ㅇㅇ</span></td>
									<td class="t_date" title="2015.08.27 13:24:34">2015.08.27</td>
																		<td class="t_hits">198</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712733</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712733&amp;page=1" class="icon_pic_n">클럽인줄ㄷㄷ</a><a href="/board/comment_view/?id=car_new&amp;no=2712733&amp;page=1"><em>[5]</em></a></td>
									<td class="t_writer user_layer" user_id="stor2004" user_name="박ㅋ봄ㅋ" style="cursor:pointer;"><span title="박ㅋ봄ㅋ">박ㅋ봄ㅋ</span><span class="right_nick"><img src="http://wstatic.dcinside.com/gallery/skin/gallog/g_fix.gif" border="0" title="stor20**(고정닉) : 갤로그로 이동합니다." width="12" height="15" style="margin-left:2px;cursor:pointer;" onclick="window.open('http://gallog.dcinside.com/stor2004');"></span></td>
									<td class="t_date" title="2015.08.27 12:47:48">2015.08.27</td>
																		<td class="t_hits">234</td>
                                    <td class="t_hits">0</td>
                                    								</tr>

								<tr onmouseover="this.style.backgroundColor='#eae9f7'" onmouseout="this.style.backgroundColor=''" class="tb">
									<td class="t_notice">2712732</td>
									<td class="t_subject"><a href="/board/view/?id=car_new&amp;no=2712732&amp;page=1" class="icon_pic_n">큐브나 레이가 그렇게안좋음?</a><a href="/board/comment_view/?id=car_new&amp;no=2712732&amp;page=1"><em>[4]</em></a></td>
									<td class="t_writer user_layer" user_id="" user_name="ㅇㅇ" style="cursor:pointer;"><span title="ㅇㅇ">ㅇㅇ</span></td>
									<td class="t_date" title="2015.08.27 12:44:20">2015.08.27</td>
																		<td class="t_hits">145</td>
                                    <td class="t_hits">0</td>
                                    								</tr>
							
						</thead></table>


						<!-- table_btn 공지리스트 업다운 버튼 -->
						<!--<div class="table_btn_line_5">
							<div class="tbtn_bg"></div>
							<div class="tbtn_arrow"><a href=""><img src="http://nstatic.dcinside.com/dgn/gallery/images/btn_down.png" alt="위로버튼" class="png24"/></a></div>
						</div-->

						<!-- <div class="table_btn_line_2">
							<div class="tbtn_bg"></div>
							<div class="tbtn_arrow"><a href=""><img src="http://nstatic.dcinside.com/dgn/gallery/images/btn_up.png" alt="아래로버튼" class="png24"/></a></div>
						</div> -->

						<!-- //table_btn -->
					</div>