<%= render :partial => "five/pencil" %>



<br><br><br><br><br><br>
<form action="/five/oh" method="POST">
        <input class="btn btn-primary" type="submit" value="글이 게시되었습니다. 글보러가기"> <br> <br>
    </form>