<h1>여섯번째 페이지_매칭상대찾기</h1>

<%= render :partial => "five/pencil" %>


    <div class="container row">
      <div class="col-md-3"></div>
      <div class="col-md-4">
          <a href="#"><img src="/assets/univ.PNG" width="200"/></a> 
      </div>
      <div class="col-md-4">
          대학 검색해 주세요.
          
          <form action="/five/chil" method="POST">
            <input type="text" name="search"> <br>
            <input type="submit" value="매칭하기">
          </form>
      </div>
</div>